@charset "URF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: linear-gradient(to top, #6DB1B5, #568C8F);
    background-attachment: fixed;
}
main {
    background-color: white;
    width: 370px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 15px #93f0f5af;
    padding-bottom: 30px;
    margin-top: 120px;
}
h1 {
    color:#568C8F;
    padding-left: 3px;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}
h2 {
    color: #3F6669;
}
p {
    color: black;
    text-align: center;
    margin: 2px;
}

div {
    padding-bottom: 10px;
}
input {
    width: 360px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    /*remover o foco do input quando clicado */
    box-shadow: 0 0 0 0;
    outline: 0;
}
#check {
    width: 12px;
    height: 12px;
}
#esqueceu {
    padding: 24px;
    color:black;
}
button {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color:#568C8F;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 60px;
    border: none;
    
}
button:hover {
    background-color: turquoise;
    transition: 0.5s;
    cursor: pointer;
}
#cadastro {
    margin: 140px;
    color: black;
}